@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');

.meninos-da-vila-2002-2005 {
    text-align: center; 
    margin-top: 1em;
  }
  
  .img1-section {
    max-width: 100%; 
    height: auto; 
    border: 1px solid #FFFF;
  }

