.inicio.light {
  background-color: #fff; 
}

.inicio.dark {
  background-color: #000; 
}

.inicio.dark .image-wrapper {
  border: 1px solid #FFF;
}

.image-wrapper {
  position: relative;
  border: 1px solid black;
  margin: 1em;
  width: 80%;
  height: 310px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.image-wrapper:hover img {
  transform: scale(1.1);
}

.image-text {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #FFFF;
  color: black;
  padding: 2px 5px;
  text-align: center;
  margin-bottom: 1em;
  display: inline-block; 
  box-sizing: border-box;
  font-family: 'Jockey One', sans-serif;
  transition: color 0.3s ease, background-color 0.3s ease;
  text-decoration: none;
}

.image-text:hover {
  color: #007bff;
}  

.link-text {
  text-decoration: none;
  color: inherit; 
}  

.left-column .image-wrapper,
.right-column .image-wrapper {
  margin: 1em; 
}