.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-toggle {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: var(--dropdown-text-light); 
  font-family: 'Jockey One', sans-serif;
}

.dropdown-toggle:hover {
  color: var(--dropdown-hover-light); 
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 200px;
  background-color: var(--dropdown-bg-light); 
  border: 1px solid #ddd;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Jockey One', sans-serif;
}

.dropdown-menu.show {
  display: block;
}

.dropdown-item {
  display: block;
  padding: 10px;
  color: var(--dropdown-text-light); 
  text-decoration: none;
  font-family: 'Jockey One', sans-serif;
  font-size: 16px;
}

.dropdown-item:hover {
  background-color: var(--dropdown-hover-light); 
  color: #fff; 
}

/*  tema escuro */
.dark .dropdown-toggle {
  color: var(--dropdown-text-dark); 
}

.dark .dropdown-toggle:hover {
  color: var(--dropdown-hover-dark); 
}

.dark .dropdown-menu {
  background-color: var(--dropdown-bg-dark); 
}

.dark .dropdown-item {
  color: var(--dropdown-text-dark); 
}

.dark .dropdown-item:hover {
  background-color: var(--dropdown-hover-dark); 
  color: #fff; 
}
