.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-toggle {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-family: 'Jockey One', sans-serif;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 200px;
  background-color: #fff;
  border: 1px solid #ddd;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Jockey One', sans-serif;
}

/* Mostra o dropdown ativado */
.dropdown-menu.show {
  display: block;
}

.dropdown-item {
  display: block;
  padding: 10px;
  color: #333;
  text-decoration: none;
  font-family: 'Jockey One', sans-serif;
  font-size: 16px;
}

.dropdown-item:hover {
  background-color: #f8f9fa;
  color: #007bff;
}
