.player-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.player-info {
    display: flex;
    align-items: flex-start;
    margin: 2em 0;
}

.player-image {
    margin-right: 1em;
}

.img-section-jogadores {
    width: 350px;
    height: 350px;
    object-fit: cover;
    margin-top: 1em;
    margin-bottom: 1em;
    aspect-ratio: 10 / 10; 
    transition: transform 0.3s ease-in-out;
  }

  .img-section-jogadores:hover {
    transform: scale(1.05); 
}


.player-text {
    flex: 1;
    font-family: "Jockey One", sans-serif;
}

.player-h {
    margin-bottom: 0.5em;
    font-family: "Jockey One", sans-serif;
}

.player-titles {
    margin-bottom: 0.5em;
    font-size: 1.2em;
    font-family: "Jockey One", sans-serif;

}

.player-stats {
    margin-bottom: 1em;
}

.player-life {
    margin-bottom: 1em;
}

/*DARK */
.dark .player-h,
.dark .player-titles,
.dark .player-stats,
.dark .player-life {
    font-family: "Jockey One", sans-serif;
}

.dark .player-h,
.dark .player-titles,
.dark .player-stats,
.dark .player-life {
    color: #FFFFFF;
}

.dark .img-section {
    max-width: 100%;
    height: auto;
    border: 1px solid #FFFFFF;
}

.dark .img-section-jogadores {
    max-width: 100%;
    height: auto;
    border: 1px solid #FFFFFF;
}

.dark .player-text {
    color: #FFFFFF;
}

/* LIGHT */
.light .player-h,
.light .player-titles,
.light .player-stats,
.light .player-life {
    font-family: "Jockey One", sans-serif;
}

.light .player-h,
.light .player-titles,
.light .player-stats,
.light .player-life {
    color: #000000;
}

.light .img-section {
    max-width: 100%;
    height: auto;
    border: 1px solid #000000;
}

.light .img-section-jogadores {
    max-width: 100%;
    height: auto;
    border: 1px solid #000000;
}

.light .player-text {
    color: #000000;
}

@media (max-width: 500px) {
    .player-info {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .player-image {
        margin: 0;
    }

    .player-text {
        margin-top: 1em;
    }

    .player-info .player-image {
        margin-bottom: 1em;
    }
}

@media (max-width: 450px) {
    .player-info {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .player-image {
        width: 300px;
        height: 300px;
    }

    .player-text {
        margin-top: 0.5em;
    }
}

@media (max-width: 420px) {
    .player-info {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .player-image {
        width: 280px;
        height: 280px;
    }

    .player-text {
        margin-top: 0.5em;
    }
}

@media (max-width: 400px) {
    .player-info {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .player-image {
        width: 250px;
        height: 250px;
    }

    .player-text {
        margin-top: 0.5em;
    }
}