/* DARK */
.dark .h1-subsection-players,
.dark .p-subsection-players{
    font-family: "Jockey One", sans-serif;
    color: #FFFFFF;

}

/* LIGHT */
.light .h1-subsection-players,
.light .h1-subsection-players{
    font-family: "Jockey One", sans-serif;
    color: #000000;

}
