/* GLOBAL */
.img-section {
    width: 100%;
    max-height: 30em;
    object-fit: cover;
    margin-top: 1em;
    margin-bottom: 1em;
    transition: transform 0.3s ease-in-out;
}

.img-section:hover{
    transform: translateY(-10px)
}


/* DARK */
.dark .h1-subsection,
.dark .h2-subsection,
.dark .h4-subsection,
.dark .p-subsection,
.dark .p-subsection-intro {
    font-family: "Jockey One", sans-serif;
    color: #FFFFFF;
}

.dark .h1-subsection{
    margin-top: 1em;
}

/* LIGHT */
.light .h1-subsection,
.light .h2-subsection,
.light .h4-subsection,
.light .p-subsection,
.light .p-subsection-intro {
    font-family: "Jockey One", sans-serif;
    color: #000000;
}

.light .h1-subsection{
    margin-top: 1em;
}


/* ANIMAÇÃO */
.animate {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.animate.hidden {
    opacity: 0;
    transform: translateY(50px);
}
